h1 {
    
}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}
  
.navigation-item {
    margin: var(--spacing-1);
}

.about-me-container {
    display: flex;
}
  
.about-me-text-container {
    margin-right: var(--spacing-3);
}

.thick-red-border {
    border-color: red; 
    border-width: 15px; 
    border-style: outset; 
    border-radius: 50%
}

.smaller-image {
    width: 500px; 
    margin: 5em;
}





